Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized in such a way that it can be easily accessed, managed, and updated. SQL (Structured Query Language) and NoSQL are two different types of database management systems.

SQL databases are relational databases, meaning they store data in tables and use structured query language (SQL) for defining and manipulating the data. Examples of SQL databases include MySQL, PostgreSQL, Oracle, and SQL Server.

NoSQL databases, on the other hand, are non-relational databases that store data in a variety of formats, such as key-value pairs, document-based, column-based, or graph-based. NoSQL databases are designed to handle large volumes of unstructured data and provide flexible schema design. Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, and Redis.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to define the structure of a database. It includes commands such as CREATE, DROP, ALTER, and TRUNCATE.

CREATE: Used to create new database objects such as tables, views, indexes, etc. For example, CREATE TABLE Students (id INT, name VARCHAR(50)); creates a new table named Students with columns id and name.

DROP: Used to delete existing database objects. For example, DROP TABLE Students; deletes the Students table from the database.

ALTER: Used to modify the structure of existing database objects. For example, ALTER TABLE Students ADD COLUMN age INT; adds a new column named age to the Students table.

TRUNCATE: Used to delete all rows from a table, but the table structure remains intact. For example, TRUNCATE TABLE Students; removes all records from the Students table.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is used to manipulate data within database objects like tables. It includes commands such as INSERT, UPDATE, and DELETE.

INSERT: Used to add new rows of data into a table. For example, INSERT INTO Students (id, name, age) VALUES (1, 'John', 25); inserts a new record into the Students table with id 1, name John, and age 25.

UPDATE: Used to modify existing data in a table. For example, UPDATE Students SET age = 26 WHERE id = 1; updates the age of the student with id 1 to 26.

DELETE: Used to remove rows from a table. For example, DELETE FROM Students WHERE id = 1; deletes the record of the student with id 1 from the Students table.

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is used to retrieve data from a database. The most common DQL command is SELECT.

SELECT: Used to retrieve data from one or more tables. For example, SELECT * FROM Students; retrieves all columns and records from the Students table.

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a column or a set of columns that uniquely identifies each row in a table. It ensures that each row in a table is unique and serves as a reference point for establishing relationships with other tables. Primary keys are typically used to enforce entity integrity in a database. For example, in a Students table, the student_id column could be designated as the primary key.

Foreign Key: A foreign key is a column or a set of columns in a table that establishes a link between data in two tables. It ensures referential integrity by enforcing a relationship between the data in the referencing table and the referenced table. Foreign keys typically match the primary key column(s) in another table. For example, in a Grades table, the student_id column could be a foreign key that references the primary key column in the Students table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
import mysql.connector

# Connect to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

# Create cursor object
mycursor = mydb.cursor()

# Execute SQL query
mycursor.execute("SELECT * FROM Students")

# Fetch result
result = mycursor.fetchall()

# Print result
for row in result:
  print(row)

ModuleNotFoundError: No module named 'mysql'

cursor(): The cursor() method creates a cursor object, which is used to execute SQL queries and fetch results from the database.

execute(): The execute() method is used to execute SQL queries. You pass the SQL query as a parameter to this method. After executing the query, you can fetch the result using methods like fetchall(), fetchone(), etc.

Q7. Give the order of execution of SQL clauses in an SQL query.